backend/n8n/classification_workflow.json
{
    "name": "ToxiGuard Comment Classification v3",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "classify-comment",
                "options": {},
                "responseMode": "responseNode"
            },
            "name": "Meta Verification",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                100
            ],
            "webhookId": "11111111-1111-1111-1111-111111111111"
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "={{ $json.query['hub.challenge'] }}",
                "options": {}
            },
            "name": "Respond Challenge",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                100
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.query['hub.verify_token'] }}",
                            "operation": "equal",
                            "value2": "toxiguard-verification-v1"
                        }
                    ]
                }
            },
            "name": "Check Token",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                300,
                100
            ]
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "classify-comment",
                "options": {},
                "responseMode": "responseNode"
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                100,
                300
            ],
            "webhookId": "af38848d-63df-4614-b620-833441a17277"
        },
        {
            "parameters": {
                "jsCode": "const item = $input.item.json;\nconst raw = item.body || item;\nconst body = raw.body || raw;\nlet result = {};\n\n// Facebook/Instagram Webhook standard format\nif (body.entry && body.entry[0].changes) {\n    const change = body.entry[0].changes[0].value;\n    const isInstagram = body.object === 'instagram';\n    \n    result = {\n        body: {\n            comment: {\n                content: isInstagram ? change.text : change.message,\n                id: isInstagram ? change.id : change.comment_id,\n                user_id: isInstagram ? (change.from?.id || 'unknown') : (change.from?.id || 'unknown')\n            },\n            page_id: body.entry[0].id,\n            post_id: isInstagram ? (change.media?.id || 'unknown') : (change.post_id || body.entry[0].changes[0].value.post_id || 'unknown'),\n            commenter_name: isInstagram ? (change.from?.username || 'Anonymous') : (change.from?.name || 'Anonymous')\n        }\n    };\n} else {\n    // Direct Ingestion / Test formats\n    result = {\n        body: {\n            comment: body.comment || item.comment || {},\n            page_id: body.page_id || item.page_id || raw.page_id || 'unknown',\n            post_id: body.post_id || item.post_id || raw.post_id || 'unknown',\n            commenter_name: body.commenter_name || item.commenter_name || raw.commenter_name || 'Anonymous'\n        }\n    };\n}\n\nreturn [ { json: result } ];"
            },
            "name": "Extract Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                400,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.body.comment.content }}",
                            "operation": "isNotEmpty"
                        },
                        {
                            "value1": "={{ $json.body.comment.id }}",
                            "operation": "isNotEmpty"
                        }
                    ]
                }
            },
            "name": "Validate Input",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                700,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": false,\n  \"error\": \"Missing required fields: comment.content or comment.id\",\n  \"received\": {{ JSON.stringify($json) }}\n}",
                "options": {
                    "responseCode": 400
                }
            },
            "name": "Respond Error",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1100,
                500
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.groq.com/openai/v1/chat/completions",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.GROQ_API_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a JSON-only toxicity classifier. Analyze the comment and return a JSON object with this exact schema: { \\\"label\\\": \\\"safe\\\" | \\\"hate_speech\\\" | \\\"harassment\\\" | \\\"sexual\\\" | \\\"violence\\\" | \\\"spam\\\", \\\"score\\\": 0.0-1.0 }. \\n\\nScoring Guide:\\n- <0.3: Safe\\n- >0.7: Toxic (insults, hate, threats)\\n\\nOUTPUT JSON ONLY. NO MARKDOWN. NO EXPLANATIONS.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($('Extract Payload').item.json.body.comment.content) }}\n    }\n  ],\n  \"response_format\": { \"type\": \"json_object\" },\n  \"options\": {\n     \"timeout\": 30000\n  }\n}",
                "options": {
                    "timeout": 30000
                }
            },
            "name": "Groq AI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1320,
                300
            ],
            "continueOnFail": true,
            "retryOnFail": true,
            "maxTries": 3,
            "waitBetweenTries": 1000
        },
        {
            "parameters": {
                "jsCode": "try {\n  if (!$input.item || !$input.item.json) {\n     return { json: { label: 'error', score: 0, error: 'No input items received', raw: {} } };\n  }\n  \n  const input = $input.item.json;\n  \n  // Check for n8n error structure\n  if (input.error) {\n      return { json: { label: 'error', score: 0, error: JSON.stringify(input), raw: input } };\n  }\n\n  if (!input.choices) {\n     return { json: { label: 'error', score: 0, error: 'No choices in response', raw: input } };\n  }\n  let content = input.choices[0].message.content;\n  \n  // Strip markdown code blocks if present\n  content = content.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n  \n  const parsed = JSON.parse(content);\n  \n  return {\n    json: {\n      ...parsed,\n      model: \"groq/llama-3.3-70b-versatile\"\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      label: \"error\",\n      score: 0,\n      error: error.message,\n      raw: ($input.item ? $input.item.json : {})\n    }\n  };\n}"
            },
            "name": "Parse Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                1540,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.score }}",
                            "operation": "largerEqual",
                            "value2": 0.5
                        }
                    ]
                }
            },
            "name": "Smart Routing",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1760,
                300
            ]
        },
        {
            "parameters": {
                "url": "https://oprngegqyioznvwavkku.supabase.co/rest/v1/reports",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "{{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=minimal"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "comment_id",
                            "value": "={{ $('Extract Payload').item.json.body.comment.id }}"
                        },
                        {
                            "name": "user_id",
                            "value": "da554f2f-6c3f-49b7-83b5-b2aa1763464b"
                        },
                        {
                            "name": "reason",
                            "value": "=AI Flagged: {{ $('Parse Response').item.json.label }}"
                        },
                        {
                            "name": "status",
                            "value": "pending"
                        }
                    ]
                },
                "options": {},
                "continueOnFail": true
            },
            "name": "Create Report",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                2000,
                150
            ]
        },
        {
            "parameters": {
                "url": "https://oprngegqyioznvwavkku.supabase.co/rest/v1/toxicity_scores",
                "method": "POST",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "{{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "return=minimal"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "comment_id",
                            "value": "={{ $('Extract Payload').item.json.body.comment.id }}"
                        },
                        {
                            "name": "label",
                            "value": "={{ $('Parse Response').item.json.label }}"
                        },
                        {
                            "name": "score",
                            "value": "={{ $('Parse Response').item.json.score }}"
                        },
                        {
                            "name": "model",
                            "value": "={{ $('Parse Response').item.json.model }}"
                        }
                    ]
                },
                "options": {},
                "continueOnFail": true
            },
            "name": "Log Score",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                2250,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ { \"success\": true, \"classification\": $('Parse Response').item.json } }}",
                "options": {}
            },
            "name": "Respond Success",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2450,
                300
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://oprngegqyioznvwavkku.supabase.co/rest/v1/social_accounts",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "{{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.pgrst.object+json"
                        }
                    ]
                },
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "page_id",
                            "value": "eq.{{ $('Extract Payload').item.json.body.page_id }}"
                        },
                        {
                            "name": "select",
                            "value": "user_id"
                        }
                    ]
                }
            },
            "name": "Get Page Owner",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                500,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://oprngegqyioznvwavkku.supabase.co/rest/v1/posts",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "{{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.pgrst.object+json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "id",
                            "value": "={{ $('Extract Payload').item.json.body.post_id }}"
                        },
                        {
                            "name": "user_id",
                            "value": "={{ $('Get Page Owner').item.json.user_id }}"
                        },
                        {
                            "name": "content",
                            "value": "Post content placeholder"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Upsert Post",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                700,
                300
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://oprngegqyioznvwavkku.supabase.co/rest/v1/comments",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "{{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Authorization",
                            "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        },
                        {
                            "name": "Prefer",
                            "value": "resolution=merge-duplicates"
                        },
                        {
                            "name": "Accept",
                            "value": "application/vnd.pgrst.object+json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "id",
                            "value": "={{ $('Extract Payload').item.json.body.comment.id }}"
                        },
                        {
                            "name": "post_id",
                            "value": "={{ $('Extract Payload').item.json.body.post_id }}"
                        },
                        {
                            "name": "user_id",
                            "value": "da554f2f-6c3f-49b7-83b5-b2aa1763464b"
                        },
                        {
                            "name": "content",
                            "value": "={{ $('Extract Payload').item.json.body.comment.content }}"
                        },
                        {
                            "name": "commenter_name",
                            "value": "={{ $('Extract Payload').item.json.body.commenter_name }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Upsert Comment",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                900,
                300
            ],
            "continueOnFail": true
        }
    ],
    "connections": {
        "Meta Verification": {
            "main": [
                [
                    {
                        "node": "Check Token",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Token": {
            "main": [
                [
                    {
                        "node": "Respond Challenge",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Payload": {
            "main": [
                [
                    {
                        "node": "Validate Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate Input": {
            "main": [
                [
                    {
                        "node": "Get Page Owner",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond Error",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq AI": {
            "main": [
                [
                    {
                        "node": "Parse Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Response": {
            "main": [
                [
                    {
                        "node": "Smart Routing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Smart Routing": {
            "main": [
                [
                    {
                        "node": "Create Report",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Log Score",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Report": {
            "main": [
                [
                    {
                        "node": "Log Score",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Score": {
            "main": [
                [
                    {
                        "node": "Respond Success",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Page Owner": {
            "main": [
                [
                    {
                        "node": "Upsert Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Post": {
            "main": [
                [
                    {
                        "node": "Upsert Comment",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Upsert Comment": {
            "main": [
                [
                    {
                        "node": "Groq AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}